h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp38b2d1f2{ color:#A01FCB; text-decoration: underline} 
		a.wsp38b2d1f2:visited{ color:#800080; text-decoration: underline} 
		a.wsp38b2d1f2:active{ color:#8018CB; text-decoration: underline} 
		a.wsp38b2d1f2:hover{ color:#E3B4F3; text-decoration: underline} 
#menu_6d47fbf1 a { text-decoration: none; }
#menu_6d47fbf1_pane { background-color: #625D63; border: 1px solid #625D63; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6d47fbf1_hr { background-color: #625D63; height: 1px; border: none; }
#menu_6d47fbf1_entry { padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px; }
#menu_6d47fbf1_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_6d47fbf1_entry:hover span { color:#FFFFFF !important; }
		.menu_6d47fbf1_mainMenuEntry { text-align: center; }
		.menu_6d47fbf1_mainMenuEntry:hover {	background-color:#282828; }
		.menu_6d47fbf1_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6d47fbf1 .mobileEntry { display: none; } 
		#menu_6d47fbf1 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_6d47fbf1 .mobileEntry { display: block; } 
			#menu_6d47fbf1 .normalEntry { display: none; } 
		}
body { background-color:#000000; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_29c31724 { position:absolute; left:5%; top:2%; width:5%; background:none;  }
.textstyle2 { text-align:center; }
#menu_6d47fbf1 { vertical-align: bottom; position:relative; display: inline-block; width:48%; height:40px; text-align:left; background-color:#FF0000; background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0));  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:40px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:52px; height:40px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000;  white-space: nowrap; }
.style5 { position:absolute; width:84px; height:40px; left:62px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style6 { position:absolute; width:153px; height:40px; left:146px;  }
.style7 { position:absolute; width:84px; height:40px; left:299px;  }
.style8 { position:absolute; width:84px; height:40px; left:383px;  }
.style9 { position:absolute; width:132px; height:40px; left:467px;  }
.style10 { position:absolute; width:52px; height:40px; left:599px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#placeh_517c0d28 { vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#html_489b3d8 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#E5E5E5;  }
#container_75de1b49 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_75de1b49_padding { margin: 10px; display: block;  }
#heading_6d176d02 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF00;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_3933c8cf { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#heading_688e5a48 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5a940f7f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:170px; background-color:#FFFFFF;  }
#container_5a940f7f_padding { margin: 10px; display: block;  }
#container_371c8eaf { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_371c8eaf_padding { margin: 10px; display: block;  }
#img_3eca7aab { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_3261fcc3 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_3261fcc3_padding { margin: 10px; display: block;  }
#img_1617a48 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_59a0caff { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_59a0caff_padding { margin: 10px; display: block;  }
#img_31d6b3e8 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_16807a67 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_16807a67_padding { margin: 10px; display: block;  }
#img_1ccbda6e { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_65730519 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 30px solid #000000;  }
#container_73bda0f4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:151px; background-color:#FFFFFF;  }
#container_73bda0f4_padding { margin: 10px; display: block;  }
#container_5a9fcc7a { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_5a9fcc7a_padding { margin: 10px; display: block;  }
#img_6199f115 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_6933d5ab { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_6933d5ab_padding { margin: 10px; display: block;  }
#img_23e9de1e { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_16feeedf { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_16feeedf_padding { margin: 10px; display: block;  }
#img_36540ca8 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_23c309f5 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:150px; background:none;  }
#container_23c309f5_padding { margin: 10px; display: block;  }
#img_6d1c74c3 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_c31bbfd { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 40px solid #000000;  }
#html_1ee7d79d { vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#E5E5E5;  }
#placeh_76dfdc81 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 35px solid #000000;  }
#container_1001a78e { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:190px; background-color:rgba(0, 0, 0, 0.8);  }
#container_1001a78e_padding { margin: 10px; display: block;  }
#container_4710ac38 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background-color:#473726;  }
#container_4710ac38_padding { margin: 10px; display: block;  }
.textstyle9 { text-align:right; }
#img_71742726 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#FF8080; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_650abe15 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background-color:#473726;  }
#container_650abe15_padding { margin: 10px; display: block;  }
#img_1789df23 { vertical-align: bottom; position:relative; display: inline-block; width:73%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#placeh_80e4e6e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#000000; border: 35px solid #000000;  }
#container_77363bda { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:170px; background-color:#000000;  }
#container_77363bda_padding { margin: 10px; display: block;  }
#container_19319582 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_19319582_padding { margin: 10px; display: block;  }
#container_6cf5d1d2 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_6cf5d1d2_padding { margin: 10px; display: block;  }
#container_749be54d { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_749be54d_padding { margin: 10px; display: block;  }
#container_1f38b4ae { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_1f38b4ae_padding { margin: 10px; display: block;  }
#container_48b5813c { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_48b5813c_padding { margin: 10px; display: block;  }
#placeh_300642e8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_71ab4cf8 { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_71ab4cf8_padding { margin: 10px; display: block;  }
#container_114fb848 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_114fb848_padding { margin: 10px; display: block;  }
#container_55674728 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_55674728_padding { margin: 10px; display: block;  }
#container_17666c37 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_17666c37_padding { margin: 10px; display: block;  }
#container_58563d73 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_58563d73_padding { margin: 10px; display: block;  }
#container_4ab79b8 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_4ab79b8_padding { margin: 10px; display: block;  }
#placeh_2a5034ab { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_1cbf4b04 { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_1cbf4b04_padding { margin: 10px; display: block;  }
#container_76c2aff2 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_76c2aff2_padding { margin: 10px; display: block;  }
#container_3b8da00f { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_3b8da00f_padding { margin: 10px; display: block;  }
#container_121cac33 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_121cac33_padding { margin: 10px; display: block;  }
#container_3ed1db06 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_3ed1db06_padding { margin: 10px; display: block;  }
#container_29677850 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_29677850_padding { margin: 10px; display: block;  }
#placeh_6a7bbee8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_6d46eefc { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_6d46eefc_padding { margin: 10px; display: block;  }
#container_6f9f4d4b { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_6f9f4d4b_padding { margin: 10px; display: block;  }
#container_5b73ca9f { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_5b73ca9f_padding { margin: 10px; display: block;  }
#container_4a6b2af2 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_4a6b2af2_padding { margin: 10px; display: block;  }
#container_5aa64af4 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_5aa64af4_padding { margin: 10px; display: block;  }
#container_7dd98ee0 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_7dd98ee0_padding { margin: 10px; display: block;  }
#placeh_cc5f763 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_146ea582 { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_146ea582_padding { margin: 10px; display: block;  }
#container_43b4a94f { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_43b4a94f_padding { margin: 10px; display: block;  }
#container_34482c93 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_34482c93_padding { margin: 10px; display: block;  }
#container_6b49d341 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_6b49d341_padding { margin: 10px; display: block;  }
#container_6e474205 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_6e474205_padding { margin: 10px; display: block;  }
#container_5a3d431b { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_5a3d431b_padding { margin: 10px; display: block;  }
#placeh_f03fcce { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_7c729cb { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_7c729cb_padding { margin: 10px; display: block;  }
#container_55a883e4 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_55a883e4_padding { margin: 10px; display: block;  }
#container_1f3fef92 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_1f3fef92_padding { margin: 10px; display: block;  }
#container_5f4f2390 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_5f4f2390_padding { margin: 10px; display: block;  }
#container_5828618c { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_5828618c_padding { margin: 10px; display: block;  }
#container_4beb9065 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_4beb9065_padding { margin: 10px; display: block;  }
#placeh_455f659f { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_435f310d { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:150px; background-color:#000000;  }
#container_435f310d_padding { margin: 10px; display: block;  }
#container_775225c5 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_775225c5_padding { margin: 10px; display: block;  }
#container_3aab6ea4 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_3aab6ea4_padding { margin: 10px; display: block;  }
#container_4078555f { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_4078555f_padding { margin: 10px; display: block;  }
#container_6f11cc35 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:150px; background-color:#000000;  }
#container_6f11cc35_padding { margin: 10px; display: block;  }
#container_5318f513 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:150px; background-color:#FFFFFF;  }
#container_5318f513_padding { margin: 10px; display: block;  }
#placeh_4aba8bf3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
#container_77b764d8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_77b764d8_padding { margin: 10px; display: block;  }
#audio_64b656e5 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:32px; background:none;  }
#text_7e5cdcd { position:absolute; left:5%; top:7%; width:292px; height:22px; background:none;  }
.textstyle10 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#placeh_7107b4be { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#000000; border: 40px solid #000000;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 750px)
{
		#container_19319582 { width:100%;  }
		#container_6cf5d1d2 { width:100%;  }
		#container_749be54d { width:100%;  }
		#container_1f38b4ae { width:100%;  }
		#container_48b5813c { width:100%;  }
		#container_114fb848 { width:100%;  }
		#container_55674728 { width:100%;  }
		#container_17666c37 { width:100%;  }
		#container_58563d73 { width:100%;  }
		#container_4ab79b8 { width:100%;  }
		#container_76c2aff2 { width:100%;  }
		#container_3b8da00f { width:100%;  }
		#container_121cac33 { width:100%;  }
		#container_3ed1db06 { width:100%;  }
		#container_29677850 { width:100%;  }
		#container_6f9f4d4b { width:100%;  }
		#container_5b73ca9f { width:100%;  }
		#container_4a6b2af2 { width:100%;  }
		#container_5aa64af4 { width:100%;  }
		#container_7dd98ee0 { width:100%;  }
		#container_43b4a94f { width:100%;  }
		#container_34482c93 { width:100%;  }
		#container_6b49d341 { width:100%;  }
		#container_6e474205 { width:100%;  }
		#container_5a3d431b { width:100%;  }
		#container_55a883e4 { width:100%;  }
		#container_1f3fef92 { width:100%;  }
		#container_5f4f2390 { width:100%;  }
		#container_5828618c { width:100%;  }
		#container_4beb9065 { width:100%;  }
		#container_775225c5 { width:100%;  }
		#container_3aab6ea4 { width:100%;  }
		#container_4078555f { width:100%;  }
		#container_6f11cc35 { width:100%;  }
		#container_5318f513 { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#container_371c8eaf { width:50%;  }
		#container_3261fcc3 { width:50%;  }
		#container_59a0caff { width:50%;  }
		#container_16807a67 { width:50%;  }
		#container_5a9fcc7a { width:50%;  }
		#container_6933d5ab { width:50%;  }
		#container_16feeedf { width:50%;  }
		#container_23c309f5 { width:50%;  }
}
@media only screen and (max-width: 300px)
{
		#container_371c8eaf { width:100%;  }
		#container_3261fcc3 { width:100%;  }
		#container_59a0caff { width:100%;  }
		#container_16807a67 { width:100%;  }
		#container_5a9fcc7a { width:100%;  }
		#container_6933d5ab { width:100%;  }
		#container_16feeedf { width:100%;  }
		#container_23c309f5 { width:100%;  }
		#container_4710ac38 { width:100%;  }
		#container_650abe15 { width:100%;  }
}
